
<div class="container">
<h1 class="text-secondary">Restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
    <li class="mt-4">
     <strong><%=link_to restaurant.name, restaurant_path(restaurant), class:"text-decoration-none text-muted" %></strong>
    </li>
    <% end %>
  </ul>

  <%= link_to "Add new Restaurant", new_restaurant_path %>
</div>
